#page-logo {
  display: flex;
}

#nav-menu {
  background-color: #f2eff6;
  display: flex;
  justify-content: space-between;
}

#nav-public-link > a {
  margin: 12px 12px 0 12px;
  display: flex;
  align-items: end;
}
#log-in > a {
  margin: 0 8px;
  display: flex;
  align-items: top;
}

#page-logo > img {
  width: 18vw;
  height: auto;
  max-width: 250px;
}

#nav-link-box {
  display: grid;
  width: 80%;
}
#nav-public-link,
#log-in {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

h1 {
  display: flex;
  align-items: end;
  font-family: "Updock", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  width: 250px;
}
h2,
h3 {
  text-align: center;
}

#body-box {
  margin: 10%;
}

#products-overview,
p,
h2, 
footer {
  padding: 5%;
  background-color: #f2eff6;
}

.oval-image {
  width: 20vw;
  height: auto;
  object-fit: cover;
}

#products-overview > div {
  display: flex;
  justify-content: space-between;
}


.border-style{
  border-color: #b181ba;
  border-radius: 10px;
  border-style: outset;
  border-width: 5px;
  border-color: #b181ba;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8)
}