<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            href="https://fonts.googleapis.com/css2?family=Updock&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">

        <title><%= title %></title>
    </head>
    <body>
        <nav id="nav-menu" class="border-style">
            <div id="page-logo">
                <img src="img/logo-flower.jpg" alt="logo-flower">
                <h1>Pocah Store</h1>
            </div>

            <div id="nav-link-box">
                <div id="log-in">
                    <a href="#">Register</a>
                    <a href="#">Log in</a>
                </div>

                <div id="nav-public-link">
                    <a href="/about">About us</a>
                    <a href="/products">Products</a>
                </div>
                <div>
                    <span id="currentYear"></span>
                </div>
            </div>

        </nav>
        <div id="body-box">
            <div id="prestentation">
                <h2 class="border-style">What ist Pocah?</h2>
                <p class="border-style">Lorem ipsum dolor sit amet consectetur,
                    adipisicing elit.
                    Esse
                    magnam quos perferendis alias vero autem deleniti, iste est
                    itaque officia, enim deserunt possimus amet aliquam iusto!
                    Numquam consequatur debitis ex. Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. Esse magnam quos perferendis
                    alias vero autem deleniti, iste est itaque officia, enim
                    deserunt possimus amet aliquam iusto! Numquam consequatur
                    debitis ex. Lorem ipsum dolor sit amet consectetur,
                    adipisicing
                    elit. Esse magnam quos perferendis alias vero autem
                    deleniti,
                    iste est itaque officia, enim deserunt possimus amet aliquam
                    iusto! Numquam consequatur debitis ex.</p>
            </div>

            <div id="products-overview" class="border-style">
                <h3>Best sellers</h2>
                <div>
                    <img src="img/couple+flowers.jpg" alt="couple-flowers"
                        class="oval-image border-style" id="muster-1">
                    <img src="./img/basis.jpg" alt="basis-photo"
                        class="oval-image border-style" id="muster-2">
                    <img src="./img/dragons.jpg" alt="dragons-photo"
                        class="oval-image border-style" id="muster-3">
                </div>
            </div>
        </div>

        <footer class="border-style">
            <div id="social-media-section">
                <h3>Follow us</h3>
                <a href="https://www.instagram.com/pocah_cubanita/"
                    target="_blank">Instagram</a>
                <a href="https://www.facebook.com/anaimad.ferrer"
                    target="_blank">Facebook</a>
            </div>
            <div id="contact-section">
                <h3>Contact us</h3>
                <a href="#">Email</a>
                <a href="#">Phone</a>
                <a href="#">Adress</a>
            </div>
            <br>
            <div> &copy; 2024 CDM</div>
        </footer>
    </body>
</html>