<!-- <div id="nav-link-box">
    <div id="log-in">
        <a href="#">Register</a>
        <a href="#">Log in</a>
    </div>

    <div id="nav-public-link">
        <a href="/about">About us</a>
        <a href="/products">Products</a>
    </div>
    <div>
        <span id="currentYear"></span>
    </div> -->